<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">
  New Quote
</button>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)='submitDiary()' #goalForm='ngForm'>
          <div class="form-group">

            <label for="name">Author</label>
            <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.title" name="author" #name='ngModel'
              required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              <p>Title is required</p>
            </div>
          </div>
          <div class="form-group">

            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.description"
              name="description" #description="ngModel" required></textarea>
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
              <p>Description is required</p>
            </div>
          </div>
          <div class="form-group">

            <label for="complete">Completion</label>
            <input type='date' id="complete" [(ngModel)]="newQuote.date" name="date" #completeDate="ngModel" required>
            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
              <p>Date is required</p>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Add Quote</button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
